body {
  margin: 100px;
  background-color: #fce2e2;
  font-family: 'Poppins', sans-serif;
  

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

h1 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 30px;
  color: #ff5252;
  display: flex;
  

}

h4 {
  font-family:'Poppins', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
}



#login-btn {
  margin-top: 10px;
  background-color: #8bc34a;
  display: flex;
  justify-content: flex-end;
}

#logout-btn {
  margin-top: 10px;
  background-color: #8bc34a;
  display: flex;
  justify-content: flex-end;
}

.username {
  margin-bottom: 10px;
  background-color: white;
}

.password {
  background-color: white;
}